@font-face {
  font-family: thaisans;
  src: url("../fonts/ThaiSansNeue-ExtraLight.otf"); }
@font-face {
  font-family: Franklin;
  src: url("../fonts/Franklin.ttf"); }
@font-face {
  font-family: DSESKW;
  src: url("../fonts/DSESKW__.TTF"); }
@font-face {
  font-family: SukhumvitSet;
  src: url("../fonts/SukhumvitSet.ttc"); }
content.container{
  padding: 0 30px;
}
a:hover{
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.holder{
    text-align:center;
}
.column{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:auto;
}

.navigator {
  list-style: none;
  margin: 50px auto 0px auto;
  }
.navigator .nav-item{
  margin: 0px 7px;
  float: left;
}
.navigator .nav-item-dropdown p {
 margin-left: 12px;
}
.navigator .nav-item-dropdown p:after{
 content: "\25BC";
}
.navigator a {
  color: #fff !important;
  font-size: 1em;
  height: 40px;
  border-radius: 100px;
  font-weight: 200;
  font-family: 'Franklin';
 }

.nav-link {
  font-size: 1.1rem;
  text-align: center; 
}

.nav-link img{
 width: 50px; 
}

.navibar {
  display: block;
  margin: auto;
  background-color: #EF4036;
  height: 150px; 
  margin-top: 0px;
  }
.navibar-menu{
  clear:both;
  margin: 0px auto 0px auto;
  /* width: 900px; */
  height: 32px;
}
.navibar .content{
  width: 100%;
  margin: 0px auto;
  background: url("../images/logo_bar2.png") no-repeat center 0px;
  padding: 0 50px;
}  
.navibar-search{
  width: 250px;
}

.navibar_bottom {
  width: auto;
  height: 40px;
  background-color: #fff;
}
#logo {
  background: url("../images/logo_bar2.png") no-repeat center 40px;
  height: 40px;
  margin-top: -55px;
  z-index: 99999999;
  position:relative;
   }

#logo img {
  display: block;
  margin: auto; 
  padding-bottom: 50px;
      margin: 19px auto 0px auto;
    width: 70px;
  }
.logo_icon {
  background: url("../images/rainflower_icon.png") no-repeat; 
  width: 250px;
  height: 120px;
  float: left;
  z-index: 99999999;
  position:relative;
}
.language {
  position: relative;
  color: #EF4036;
  font-size: 1.2rem;
  text-align: right;
  width: 100%;
  height: 30px;
  margin: 10px auto 0px auto;
  font-family: 'Franklin'; 
  line-height: 30px;
  padding: 0 60px;
  }

.language a {
  color: #EF4036;}

.login {
  color: #FFF;
  font-size: 1.3rem;
  text-align: right;
  margin: 10px -60px 0 0;
  font-family: 'Franklin'; 
  float:right;
  }

.login a {
  color: #FFF;}

.menusub {
  margin: 20px 20px;
  font-family: 'SukhumvitSet';
  font-size: 14px;  
}

.menusub a {
  font-family: 'SukhumvitSet';
  font-size: 14px;  
  color: #000;
}
.search_result {
  margin: 20px 20px;
  font-family: 'SukhumvitSet';
  font-size: 14px;  
  float: right;
}
.promotion img {
  width: 100%;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
}

.promotion_detail p {
  width: 800px;
  color: black;
  font-family: 'SukhumvitSet'; 
  font-size: 16px;
  margin-left: 100px;
}
.promotion_img img {
  width: 850px;
  margin: 10px 50px 20px 80px;
  border-radius: 20px;
}
.promotion_title {
  width: 1000px;
  float: left;
  color: black;
  font-weight: bold;
  font-family: 'SukhumvitSet'; 
  font-size: 18px;
  margin-left: 80px;
  margin-bottom: 30px;
}
.character_logo_center {
  text-align: center;
  width: 600px;
  margin: auto;
}
.character_logo {
    margin-bottom: 50px;
    text-align: center;
}
.character  {
  width: 230px;
  height: 230px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  font-family: 'SukhumvitSet'; 
  font-size: 14px;
}
.character img {
  border-radius: 20px;
}
.character a {
  width: 200px;
  color: #000;
  text-align: center;
}
.character_detail p {
  width: 800px;
  color: black;
  font-family: 'SukhumvitSet'; 
  font-size: 16px;
  margin-left: 100px;
}
.character_img img {
  width: 850px;
  margin: 10px 50px 20px 80px;
}
.character_detail_img_center {
  text-align: center;
  margin: 10px 50px 20px 80px;
}
.character_detail_img {
  width: 283px;
  float: left;
}
.character_related {
  position:relative;
  text-align:center;
  
}
.character_related_bar {
  width: 100%;
  text-align: center;
  margin: 60px auto 0px  auto;
  
  border-bottom: 5px solid #D1D2D4;
}
.character_related_title {
 text-align: right;
 color: #EF4036;
 font-family: 'DSESKW'; 
 font-size: 40px;
 margin-bottom: 1px;
}
.bycharacter {
 color: #939597;
 font-family: 'DSESKW'; 
 font-size: 26px;
 margin-left: 80px;
 text-align:right;
}
.bycharacter_img {
  background-color: #fff;
  width: 400px;
  margin: -60px auto 50px auto;
}
.character_related_img {
  width: auto;
  margin: 0px auto;
}
.character_related_bar_left {
  width: 250px;
  float: left;
}
.character_related_bar_right {
  width: 150px;
  float: left;
}
.character_related img {
    padding: 5px;
    color: #FFF;
    background-color: white;
    width: 230px;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
     -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
     box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}
.character_related p {
  width: 230px;
  margin: 10px auto;
  font-size: 16px;
  line-height: 20px;
  font-family: 'SukhumvitSet'; 
}
.character_related_viewall {
  margin: auto;
  text-align: center;
  background-color: #EF4036;
  border: 0px;
  font-size: 30px;
  font-family: 'DSESKW'; 
  color:#FFF;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}
.product_pic {
  width: 550px;
  float: left;
}
.product_img img {
  border-radius: 25px;
  margin: 0px 50px 20px 50px;
}
.product_thum img {
  margin: 0px 10px 20px 10px;
}
.likeshare {
  float: right;
}
.likeshare_left {
  float: left;
}
.product_description {
  float: left;
  width: 450px;
}
.product_title {
  font-size: 18px;
  font-weight: bold;
  font-family: 'SukhumvitSet';
  color: black;
  margin: 20px 20px;
}
.dmyttt {
  text-align: right;
  font-size: 12px;
  font-family: 'SukhumvitSet';
  color: black;
}
.dmy_promotion {
  margin: 0px 20px 20px 100px;
  text-align: left;
  font-size: 12px;
  font-family: 'SukhumvitSet';
  color: black;
  float: left;
}
.barpink {
  width: 420px;
  height: 5px;
  border-radius: 3px;
  background-color: #F06D87;
  margin: 20px 20px;
}
.product_content {
  margin: 20px 20px;
  font-size: 16px;
  line-height: 30px;
  font-family: 'SukhumvitSet';
  color: black;
}
.product_size {
  width: 200px;
  margin-left: 20px;
  float: left;
}

.product_price {
  float: right;
  width: 220px;
  
}
.pricebig {
  font-family: 'DSESKW'; 
  color: red;
  font-size: 70px;
  font-weight: bold;
  height: 70px;
  line-height: 60px;
}
.discount {
  margin: 10px 10px;
  float: left;
  width: 50px;
  color: #BE1E2D;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
}
.price_true {
  float: left;
  width: 200px;
  color: #BE1E2D;
  font-size: 30px;
  text-decoration:line-through;
  text-align: right;
  height: 30px;
  margin-top: -15px;
}
.addtobag {
  margin-left: 5px;
  width: 168px;
  float: left;
  font-family: 'DSESKW'; 
  color: red;
  font-size: 20px;
  text-align: center;
}

.addtobag a {
  margin-right: 20px;
  color: red;
  font-weight: bold;
}
.line-x {
  float: left;
  height: 200px;
  width: 2px;
  background-color: #D1D2D4;
  margin-bottom: 20px;
}
.fragrance {
  margin-left: 10px;
  float: left;
  width: 265px;
  height: 200px;
}
.fragrance p{
 color: #EF4036;
 font-family: 'DSESKW'; 
 font-size: 40px;
 text-align: center;
}
.what_fragrance {
  font-family: 'SukhumvitSet';
  color: #FFF;
  font-size: 15px;
  width: 244px;
  height: 38px;
  background: url("../images/what_fragrance.png") no-repeat;
  border: 0px;
   margin: 5px 10px;
}
.select_fragrance {
  font-family: 'SukhumvitSet';
  color: #FFF;
  font-size: 15px;
  width: 244px;
  height: 38px;
  background: url("../images/select_fragrance.png") no-repeat;
  border: 0px;
  margin: 5px 10px;
}
.bag {
  width: 900px;
  margin-left: 50px;
}
.bag_tap li {
  font-family: 'SukhumvitSet'; 
  float: left;
  width: 215px;
  height: 40px;
  margin: 10px 0px;
  font-size: 16px;
  text-align: center;
  list-style-type: none;
  background-color: #F1F1F2;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
     -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
     box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
     line-height: 40px;
}
.bag_tap .active {
  background-color: #FFFFFF;
}
.bag_button_buy {
    font-family: 'SukhumvitSet'; 
    color: #000;
    font-size: 16px;
    border-radius: 25px;
    background-color: #fff;
    width: 180px;
    height: 35px;
    margin: 10px 10px;
    border: 2px solid #A7A9AB;
    float: left;
}
.bag_button_next {
    font-family: 'SukhumvitSet'; 
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    background-color: #EF4036;
    width: 180px;
    height: 35px;
    margin: 10px 10px;
    border: 0px;
    float: right;
}
.bag_button_code {
    font-family: 'SukhumvitSet'; 
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    background-color: #F7911D;
    width: 180px;
    height: 35px;
    margin: 10px 10px;
    border: 0px;
    float: left;
}
.bag_button_save {
    font-family: 'SukhumvitSet'; 
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    background-color: #F05C61;
    width: 400px;
    height: 80px;
    margin: 10px 10px;
    border: 0px;
}
.bag_button_ok {
    font-family: 'SukhumvitSet'; 
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background-color: #F05C61;
    width: 200px;
    height: 40px;
    margin: 10px 10px;
    border: 0px;
}

.bag_button_add {
    font-family: 'SukhumvitSet'; 
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background-color: #7EC67F;
    width: 200px;
    height: 40px;
    margin: 10px 10px;
    border: 0px;
}

.product_brand {
  padding: 3px;
  margin: 30px 0 0 0;
}
.product_brand img{
  width: 100%;
}
.product_brand_title {
  text-align: center;
  margin: auto;
  font-family: 'DSESKW'; 
  color:#EF4036;
  font-size: 30px;
}
.product_brand_bar {
  background-color: #BE1E2D;
  opacity: 0.8; 
  height: 50px;
  margin-top: -50px;
}
.product_brand_viewall {
  float: left;
  margin:10px 20px;
  background: url("../images/product_brand_viewall.png") no-repeat !important;
  height: 30px;
  width: 156px;
  font-size: 24px;
  font-family: 'DSESKW'; 
  color:#FFF;
  text-align: center;
  border: 0px;
  margin-top: -40px;
  position: absolute;
}

.selected-dropdown {
  float: right;
  margin:10px 10px;
  margin-top: -40px;
}
.product_brand_sec {
  
  background: url("../images/product_brand_sec.png") no-repeat !important;
  height: 30px;
  width: 156px;
  font-size: 20px;
  font-family: 'DSESKW'; 
  color:#FFF;
  text-align: center;
  border: 0px;
  
  /*position: absolute;*/
  
}
.viewallproduct {
  margin: auto;
  text-align: center;
  background-color: #EF4036;
  border: 0px;
  font-size: 2.8rem;
  font-family: 'DSESKW'; 
  color:#FFF;
  padding: 5px 30px;
  border-radius: 10px;
}
.view_table_size {
  color: #000;
  font-size: 12px;
  border-radius: 25px;
  background-color: #fff;
  width: 130px;
  height: 30px;
  margin: 10px 10px;
  border: 2px solid #A7A9AB;
}
.right{
  float:right;
}
.search-form{

}
.textbox { 
    background: #FFF url("../images/search_icon.png") no-repeat; 
    background-position: 135px 5px !important;
    font-size: 14px;
    border: 1px solid #DDD; 
    padding-right: 25px;
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 240px; 
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.footer {
  background-color: #BE2026;
  height: 50px;
 
}
.menu_footer_red {
  
}

.menu_footer_cartoon {
  padding-top: 10px;
  margin: auto;
  text-align: left;
  z-index: 999;
  position:relative;
  top:15px;
}


.content2 {
  padding: 0px 30px;
  margin: auto;
}

.title {
  font-family: 'DSESKW'; 
  font-size: 34px;
  color: #EF4036;
}

.viewall {
  width: 120px;
  height: 70px;
  font-family: 'DSESKW'; 
  font-size: 18px;
  color: #EC008B;
  float: right;
  background: url("../images/cloud.png") no-repeat; 
  text-align: center;
  padding-top: 25px;
}

.viewall a {
  color: #EC008B;
 
}

.bestseller_bg {
  width: auto;
  height: 250px;
  background-color: #FFF;
  
}

.bestseller {
 width: 100%;
    height: auto;
    text-align: center;
    margin: 15px auto;
  position:relative;
  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
     -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
     box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  
}

.bestseller img {
    border: 1px solid #ddd;
    padding: 5px;
    color: #FFF;
    background-color: white;
    width: 100%;
}
search_box {
  width: 230px;
}
search_box p {
  font-size: 10px;
  margin: 20px 0px;
}
.search_result_title {
  margin: 10px 10px;
  color: #000;
  font-size: 12px;
}
.search_result_title a {
  color: #000;
  font-weight:bold;
  font-size: 14px;
}
.search_keyword {
  width: auto;
  background-color: yellow;
}
.search {
  width: 230px;
  height: auto;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  position:relative;
}
.search img {
    border: 1px solid #ddd;
    padding: 5px;
    color: #FFF;
    background-color: white;
      -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
     -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
     box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);  
}

.ribbon {
  width:80px;
  height:79px;
  background: url("../images/ribbon.png")no-repeat; 
  position:absolute;
  top:-3px;
  left:-3px;
  z-index: 99999px;
  } 
.nextpage {
 float: right; 
}
.nextpage img {
 margin-left: 150px; 
}
.newproducts {
  margin: auto;
  width: auto;
  position:relative
}

.newproducts_p {
  background: #FFF;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px 0 40px 0;
  z-index: 99; 
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
     -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
     box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  padding-bottom:10px;

}
.newproducts_p img{
  
  width: 100%;

}
.newproducts_des {
  font-size: 14px;
  line-height:15px;
  margin: 0px 20px 20px 20px;
  text-align: left;
}
.newproducts_title {
  color: black;
  font-weight: bold;
  font-family: 'SukhumvitSet'; 
  font-size: 16px;
  margin: 20px 20px 20px 20px;
  text-align:left;
}
.newproducts_title  a {
  color: black;
}
.newproducts_page {
  margin: 20px 200px;
}
.newproducts_page_p {
  float: left;
  background: #FFF;
  margin: auto;
  width: 300px;
  height: auto;
  margin: 20px 10px 40px 10px;
  z-index: 99; 
  position:relative;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
     -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
     box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);

}
.newproducts_page_des {
  font-size: 14px;
  line-height:15px;
  margin: 0px 20px 20px 20px;
  text-align: left;
}
.newproducts_page_title {
  float: left;
  width: 480px;
  color: black;
  font-weight: bold;
  font-family: 'SukhumvitSet'; 
  font-size: 16px;
  margin: 0px 20px 20px 20px;
}
.newproducts_page_title  a {
  color: black;
}
.mybag {
  /*float: right;
  margin-top: -100px;*/
  margin: 40px 0px 0 0;
  width: 70px;
  float: right;
}
.mybag img {
  width: 40px;
}
.view {
  font-family: 'DSESKW'; 
  font-size: 20px;
  color: #EF4036;
  background: url(../images/view.png) no-repeat center 0px;
  text-align: center;
  display: block;
  margin: -39px auto 0px auto; 
  z-index: 999999999; 
  position:relative;
  height: 39px;
  padding-top: 17px;
}


.view a {
  color: #EF4036;
}

.social,.footer-link{
  background-color: #EF4036;

      padding: 9px 50px;
}
.social {
  list-style-type: none;
}
.social ul {
  list-style-type: none;
  padding: 0px;
}
.social img{
  height: 36px;
  margin: 0px -20px;
}


.social li {
  display: inline-block;
  margin-left: 20px;
    
}

.menu_footer_cartoon_bg {
  width: auto;
  height: 200px;
  background-color: #FFF;
  
}
.stores {
  margin-bottom: 30px;
}
.stores>div{
  margin-bottom: 20px;
}
.stores_logo {
  width: 100%;
  text-align: center;
}
.stores_logo img{
  width: 100%;
}
.stores_bar {
  background-color: #808284;
  margin: 20px 80px;
  width: 800px;
  height: 2px;
}
.stores_branch {
   font-family: 'SukhumvitSet'; 
   font-size: 20px;
}
.menu_footer {
  color: #fff;
  font-size: 2.3rem;
  width: 100%;
  margin: auto;
  text-align: left;
    font-family: 'DSESKW';
   
}
.menu_footer >div{
   height: 48px; 
}

.menu_footer a {
  color: #fff;
   margin: 0 20px;
       background-color: #EF4036;
  
}

.copyright_red{
  background-color: #BE2026;
  
 }

 .copyright{
  color: #fff;
  text-align: left;
  width: 100%;
  margin: auto;
      padding: 10px 50px 0 50px;
 }

.clear
{
    clear: both;
}

.cd-top {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 200px;
  right: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  border-radius: 45px;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(238, 64, 54, 1) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 9999;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}


.navibar_center {
  display: block;
  margin: auto; }

.fullwidth {
  width: 100%; }

.fullwidth > .container {
  padding: 50px 0px;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
.header {
  padding: 80px 0px; }

.brand {
  font-family: 'Patua One', cursive;
  font-size: 1.6rem;
  color: #1BBC9B !important;
  font-weight: bold; }

.feature-icon {
  width: 100%;
  text-align: center;
  margin: 10px 0 30px 0; }

.feature-icon img {
  width: 50%;
  text-align: center;
  margin: 10px 0 30px 0; }


@media (min-width: 992px) {
  .buybtn {
    height: 63px;
    width: 200px;
    display: block;
    float: left;
    background-size: 100%; }

  header {
    height: 400px;
    background-size: cover; }

  .rowblock {
    height: 400px; } }
@media (max-width: 992px) {
  .buybtn {
    height: 31px;
    width: 100px;
    display: block;
    float: left;
    background-size: 100% !important; }

  header {
    height: 650px;
    background-size: cover;
    margin-bottom: 30px; } 

}
.price {
  margin-top: 10px;
  font-size: 2.6rem;
  color: #000 !important; }

.price span {
  font-weight: bold; }

footer {
  font-size: 1.2rem;
  color: #555;
  text-align: center; }

.company-icon {
  margin: 20px 0; }

.view_more{
    margin: 30px auto 20px auto;
    text-align: center;
}

@media (max-width: 1200px){
  .product_brand_viewall{
    display:none;
  }
  .content2{
    padding: 0px;
  }

  .viewallproduct {
    padding: 5px 30px;
}
}