@font-face {
  font-family: thaisans;
  src: url("../fonts/ThaiSansNeue-ExtraLight.otf"); }
@font-face {
  font-family: Franklin;
  src: url("../fonts/Franklin.ttf"); }
@font-face {
  font-family: DSESKW;
  src: url("../fonts/DSESKW__.TTF"); }
@font-face {
  font-family: SukhumvitSet;
  src: url("../fonts/SukhumvitSet.ttc"); }

body {
  background-color: #FAFBFB;
}
.nav {
  list-style: none;
  margin: 60px auto; }

.nav a {
  background-color: none;
  color: #fff !important;
  line-height: 30px;
  height: 40px;
  border-radius: 100px;
  font-weight: 200;
  font-family: 'Franklin';
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.nav-link {
  font-size: 0.7rem;
  text-align: center; 
}

.navbar {
  display: block;
  margin: auto;
  background-color: #EF4036;
  height: 160px; }

.navbar_bottom {
  width: auto;
  height: 40px;
  background-color: #fff;
}
#logo {
  height: 40px;
  background-color: #fff;
  margin-top: 20px;
  z-index: 99999999;
  position:relative;
   }

#logo img {
  display: block;
  margin: auto; 
  padding-bottom: 50px;
  }
.logo_icon {
  background: url("../images/rainflower_icon.png") no-repeat; 
  width: 202px;
  height: 120px;
  float: left;
  z-index: 99999999;
  position:relative;
}
.language {
  color: #EF4036;
  background-color: #fff;
  font-size: 0.7rem;
  text-align: right;
  width: 1000px;
  margin: auto;
  font-family: 'Franklin'; }

.language a {
  color: #EF4036;}

.login {
  color: #FFF;
  font-size: 0.8rem;
  text-align: right;
  width: 1000px;
  margin: auto;
  font-family: 'Franklin'; }

.login a {
  color: #FFF;}

.menusub {
  margin: 20px 20px;
  font-family: 'SukhumvitSet';
  font-size: 14px;  
}

.menusub a {
  font-family: 'SukhumvitSet';
  font-size: 14px;  
}
.product_pic {
  width: 550px;
  float: left;
}
.product_img img {
  border-radius: 25px;
  margin: 0px 50px 20px 50px;
}
.product_thum img {
  margin: 0px 10px 20px 10px;
}
.likeshare {
  float: right;
}
.product_description {
  float: left;
  width: 450px;
}
.product_title {
  font-size: 18px;
  font-weight: bold;
  font-family: 'SukhumvitSet';
  color: black;
  margin: 20px 20px;
}
.dmyttt {
  text-align: right;
  font-size: 12px;
  font-family: 'SukhumvitSet';
  color: black;
}
.barpink {
  width: 420px;
  height: 5px;
  border-radius: 3px;
  background-color: #F06D87;
  margin: 20px 20px;
}
.product_content {
  margin: 20px 20px;
  font-size: 16px;
  line-height: 30px;
  font-family: 'SukhumvitSet';
  color: black;
}
.product_size {
  width: 200px;
  margin: 20px 0px 20px 20px;
  float: left;
}
.product_size img {
  width: 40px;
}

.product_price {
  float: right;
  width: 220px;
  
}
.pricebig {
  font-family: 'DSESKW'; 
  color: red;
  font-size: 70px;
  font-weight: bold;
}
.discount {
  margin: 10px 10px;
  float: left;
  width: 50px;
  color: #BE1E2D;
  line-height: 20px;
  font-size: 30px;
}
.price_true {
  float: left;
  width: 200px;
  color: #BE1E2D;
  font-size: 30px;
  text-decoration:line-through;
  text-align: right;
}
.addtobag {
  margin-left: 5px;
  width: 168px;
  float: left;
  font-family: 'DSESKW'; 
  color: red;
  font-size: 20px;
  text-align: center;
}

.addtobag a {
  margin-right: 20px;
  color: red;
  font-weight: bold;
}
.line-x {
  float: left;
  height: 200px;
  width: 2px;
  background-color: #D1D2D4;
}
.fragrance {
  margin-left: 10px;
  float: left;
  width: 265px;
  height: 200px;
  
}

.w3-btn,.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}
.w3-border-0{border:0!important}.w3-border{border:3px solid #A7A9AB!important}
.w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}
.w3-round-large{border-radius:8px}

.textbox { 
    background: #FFF url("../images/search_icon.png") no-repeat; 
    background-position: 215px 5px !important;
    font-family: 'Franklin';
    font-size: 14px;
    border: 1px solid #DDD; 
    padding-right: 25px;
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 240px; 
    text-align: right;
}

.footer {
  background-color: #BE2026;
  height: 50px;
 
}
.menu_footer_red {
  background-color: #EF4036;
  height: 70px;
}

.menu_footer_cartoon {
  padding-top: 20px;
  width: 1000px;
  margin: auto;
  text-align: left;
  z-index: 99999;
  position:relative;
  top:15px;
}


.content2 {
  width: 1000px;
  margin: auto;
}

.title {
  font-family: 'DSESKW'; 
  font-size: 34px;
  color: #EF4036;
}

.viewall {
  width: 120px;
  height: 70px;
  font-family: 'DSESKW'; 
  font-size: 18px;
  color: #EC008B;
  float: right;
  background: url("../images/cloud.png") no-repeat; 
  text-align: center;
  padding-top: 25px;
}

.viewall a {
  color: #EC008B;
 
}

.bestseller_bg {
  width: auto;
  height: 270px;
  background-color: #FFF;
  
}

.bestseller {
  width: 150px;
  height: 150px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  position:relative
  
}

.bestseller img {
    border: 1px solid #ddd;
    padding: 5px;
    width: 170px;
    color: #FFF;
    background-color: white;
    
}
.ribbon {
  width:80px;
  height:79px;
  background: url("../images/ribbon.png")no-repeat; 
  position:absolute;
  top:-3px;
  left:-3px;
  background-position: -20px -20px;
  z-index: 99999px;
  } 

.newproducts {
  margin: auto;
  width: auto;
  position:relative
}

.newproducts_p {
  float: left;
  background: #FFF;
  margin: auto;
  width: 490px;
  height: auto;
  margin: 20px 0 40px 0;
  z-index: 99; 
  position:relative;

}
.newproducts_des {
  font-size: 14px;
  line-height:15px;
  margin: 0px 20px 20px 20px;
  width: 220px;
}
.view {
  font-family: 'DSESKW'; 
  font-size: 20px;
  color: #EF4036;
  background: url("../images/view.png") no-repeat; 
  background-position: 200px -20px;
  text-align: center;
  display: block;
  margin: auto; 
  z-index: 999999999; 
  position:relative;
}


.view a {
  color: #EF4036;
}


.newproducts_title {
  float: left;
  width: 480px;
  color: black;
  font-weight: bold;
  font-family: 'SukhumvitSet'; 
  font-size: 16px;
  margin: 0px 20px 20px 20px;
}
.newproducts_title  a {
  color: black;
}

.social {
  float: right;
  display: inline;
  list-style-type: none;
}
.social ul {
  list-style-type: none;



}
.social li {
  float: left;
  display: block;
  margin-left: 20px;
    
}

.menu_footer_cartoon_bg {
  width: auto;
  height: 200px;
  background-color: #FFF;
  
}

.menu_footer {
  color: #fff;
  font-size: 30px;
  padding-top: 20px;
  width: 1000px;
  margin: auto;
  text-align: left;
}

.menu_footer a {
  color: #fff;
  
}

.copyright_red{
  background-color: #BE2026;
  height: 50px;
 }

 .copyright{
  color: #fff;
  text-align: left;
  width: 1000px;
  margin: auto;
  padding-top: 10px;
 }

.clear
{
    clear: both;
}

.cd-top {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 200px;
  right: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  border-radius: 45px;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(238, 64, 54, 1) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}


.navbar_center {
  display: block;
  margin: auto; }

.fullwidth {
  width: 100%; }

.fullwidth > .container {
  padding: 50px 0px;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
.header {
  padding: 80px 0px; }

.brand {
  font-family: 'Patua One', cursive;
  font-size: 1.6rem;
  color: #1BBC9B !important;
  font-weight: bold; }

.feature-icon {
  width: 100%;
  text-align: center;
  margin: 10px 0 30px 0; }

.feature-icon img {
  width: 50%;
  text-align: center;
  margin: 10px 0 30px 0; }

@media (min-width: 992px) {
  .buybtn {
    height: 63px;
    width: 200px;
    display: block;
    float: left;
    background-size: 100%; }

  header {
    height: 400px;
    background-size: cover; }

  .rowblock {
    height: 400px; } }
@media (max-width: 992px) {
  .buybtn {
    height: 31px;
    width: 100px;
    display: block;
    float: left;
    background-size: 100% !important; }

  header {
    height: 650px;
    background-size: cover;
    margin-bottom: 30px; } }
.price {
  margin-top: 10px;
  font-size: 2.6rem;
  color: #000 !important; }

.price span {
  font-weight: bold; }

footer {
  font-size: 1.2rem;
  color: #555;
  text-align: center; }

.company-icon {
  margin: 20px 0; }

/*# sourceMappingURL=style.css.map */
